html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
    text-align: center;
    margin: 0 auto;
}
h1 {
    color: rgb(180, 8, 8);
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
h2 {
    color: crimson;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}
h3 {
    color: crimson;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
} 

.one {
    font-size: 0px;
    clear: left;
}

.thwo {
    font-size: 0px;
    clear: left;
}

.three {
    font-size: 0px;
    clear: left;
}

.four {
    font-size: 0px;
    clear: left;
}

.float {
    float: left;
}

.t_cell {
    display: table-cell;
}

.in_block {
    display: inline-block;
    vertical-align: middle;
}

.in_one{
    width: 400px;
    background: greenyellow;
    text-align: justify;
    font-size: 16px;
}

.in_thwo {
    width: 800px;
    font-size: 16px;
}

.s_thwo {
    width: 400px;
    font-size: 16px;
}

.in_a {
    background: orange;
    text-align: justify;
}

.in_s {
    background: olivedrab;
    text-align: justify;
}

.s_three {
    width: 400px;
    font-size: 16px;
    text-align: justify;
    background: yellow;
}

.in_three {
    width: 800px;
    font-size: 16px;
}

.in_b {
    background: yellowgreen;
    text-align: justify;
    font-size: 16px;
}

.in_c {
    font-size: 0;
    clear: left;
}

.s_c {
    width: 400px;
    background: lightgreen;
    font-size: 16px;
}

.in_four {
    width: 800px;
    font-size: 16px;
}

.s_four {
    width: 400px;
    text-align: justify;
    background: orange;
    font-size: 16px;
}

.in_d {
    background: orangered;
    text-align: justify;
}

.in_e {
    font-size: 0;
    clear: left;
}

.in_f {
    width: 400px;
    font-size: 16px;
    text-align: justify;
    background: brown;
}

.in_g {
    width: 400px;
    font-size: 16px;
    text-align: justify;
    background:peru;
}

.s_g {
    background: burlywood;
    text-align: justify;
}
